.mySwiper {
  /* width: 100%;
  max-height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 20px; */
}

.card {
  height: 270px;
  min-width: 370px;
  margin: 20px;
}
