.section {
  margin-top: 120px;
  margin-bottom: 120px;
  max-height: 310px;
}
.leftSection {
  width: 424px;
  height: 168px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;
  padding-left: 56px;
}
