.section {
  margin-top: 120px;
  margin-bottom: 120px;
  max-height: 320px;
  padding-bottom: 50px;
}
.leftSection {
  width: 424px;
  height: 168px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;
  padding-left: 56px;
}

@media screen and (max-width: 600px) {
  .section {
    margin-top: 120px;
    margin-bottom: 120px;
    height: auto;
    padding-bottom: 50px;
  }
}
