@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://db.onlinewebfonts.com/c/7a7de8177760c5273dae5087892ee62c?family=Helvetica+Neue+LT+Pro+95+Black);

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  font-family: "Helvetica Neue LT Pro 95 Black";
  /* background-image: url("./Hero.png"); */
}
.container {
  width: 85%;
  margin: auto;
}
